.cart__item {
  display: flex;
  width: 100%;
  border-top: 1px solid #f6f6f6;
  padding-top: 30px;
  margin-top: 30px;

  &_img {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 10%;

    img {
      width: 80px;
      height: 80px;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 18px;
      color: #8d8d8d;
    }
  }

  &_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;

    &-minus {
      svg {
        path:first-of-type {
          display: none;
        }
      }
    }

    b {
      font-size: 22px;
    }
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    border: 2px solid #fe5f1e;
    width: 32px;
    height: 32px;

    &:hover {
      background-color: #fe5f1e;

      svg {
        path {
          fill: white
        }
      }
    }

    &_clear {
      border-color: #ddd;

      &:hover {
        background-color: black;

        svg {
          path {
            fill: white
          }
        }
      }
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      border: 2px solid #ddd;
      color: green;

      &:active {
        transform: none;
      }

      &:hover {
        background-color: transparent;
      }

      svg {
        path {
          fill: #ddd
        }
      }
    }
  }

  &_price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;

    b {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.01em;
    }
  }

  &_remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4%;

    svg {
      transform: rotate(45deg);

      path {
        fill: darken($color: #f6f6f6, $amount: 15);
      }
    }
  }
}